
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


<form action="/Empleado/Crear" method="post">
    
    Nombre: <input type="text" id="txtNombre" name="Nombre" value="" /><br />
    Apellido: <input type="text" id="txtNombre" name="Apellido" value="" /><br />


    <input type="submit" name="BtnSave" value="Grabar Empleado" />
</form>

